body {
  text-align: left;
  background-color: black;
  color: #00ff00;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  font: 14pt Console;
}

.inputs {
  color: white;
}

.App {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.Console {
  padding: 25px;
  display: table-cell;
  vertical-align: bottom;
}

.emphasis {
  font-weight: bold;
  font-style: italic;
}

.danger {
  color: #ff0000;
}

.inform {
  color: #ffff00;
}

.small {
  font-size: 0.5em;
}
